body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 584px;
  height: 877px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 584px;
  height: 877px;
  margin: 0 auto;
}

.result {
  border: 1px solid gray;
  width: 500px;
  height: 500px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.ad {
  width: 600px;
  height: 80px;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

.images {
  margin-top: 20px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

#mood {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Indie Flower", cursive;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 20px;
}

/* 윤아꺼에 추가한 css */

#mainButton {
  background: #5dc8cd;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  width: 60px;
  height: 60px;
}

#moodcraftButton {
  border: none;
  background: none;
}

.snsImg {
  border-radius: 50px;
  width: 55px;
}

#beerExample {
  height: 400px;
  margin-top: -20px;
}

#glan {
  margin-top: -20px;
  font-size: 40px;
}

#result1 {
  margin-top: -20px;
  font-size: 20px;
  font-family: "Hahmlet", serif;
}

#result3 {
  margin-top: 5px;
  font-family: "East Sea Dokdo", cursive;
  font-size: 20px;
}
